<!DOCTYPE html>
<html lang="ja-JP">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="javascripts/amcharts/amcharts.js"></script>
    <script src="javascripts/amcharts/serial.js"></script>
    <script src="javascripts/amcharts/pie.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/admin.js"></script>
    
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div id="demo2">
        <ul>
            <% for (var i = 0; i < datas.length; i++) { %>
                <li>
                    <a class="tabhead" href="#q<%=datas[i].Id%>">Q.
                        <%=datas[i].Index %>
                    </a>
                </li>
                <% } %>
        </ul>
        <% for (var i = 0; i < datas.length; i++) { %>
            <div id="q<%=datas[i].Id%>">
                <h2>Q.
                    <%=datas[i].Index %>
                        <%=datas[i].Subject%>
                </h2>
                <p>
                    <%=datas[i].Content%>
                </p>
                <div id="c<%=datas[i].Id%>" class="choose"></div>
                <div id="submit-<%=datas[i].Id%>" class="submit">送信</div>
                <div id="save-<%=datas[i].Id%>" class="save">保存</div>
                <div id="clear-<%=datas[i].Id%>" class="clear">クリア</div>
                <div id="g<%=datas[i].Id%>" class="graph"></div>
                <div id="o<%=datas[i].Id%>" class="others">
                    <p>その他</p>
                </div>
            </div>
            <% } %>
    </div>
</body>

</html>